<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>lab11</title>
    
</head>
<body>
    <header>
        <h3 class="h1-header">Backend1</h3>
        <a class="button-header" href="">Home</a>
    </header>
    <div class="content">
        <h1 class = "content-header">Calc Service Demonstation</h1>
        <ul>
            <li><a href="CalcService/PassUsingModel">Using Model Calc</a></li>
            <li><a href="CalcService/PassUsingViewData">Using ViewData Calc</a></li>
            <li><a href="CalcService/PassUsingViewBag">Using ViewBag Calc</a></li>
            <li><a href="CalcService/AccessServiceDirectly">Using Service Injection Calc</a></li>
        </ul>
    </div>
    <div class="line"></div>
    <footer>© 2023 - Backend1</footer>
</body>
</html>